.plant-article {
    position:relative;
    
    .shelf-content{
        padding-top: 10px;
        display:flex;
        justify-content: space-around;
        overflow:hidden;
    }

    img{
        max-width:250px;
        border: 4px solid black;
        transform: perspective(50em) rotateX(13deg);    
        box-shadow: 10px 7px 6px -4px #212522;


    }
    .img-shadow{
        background-color:black;
        position: absolute;
        left: 100px;
        width: 200px;
        
    }
    .shelf-1{
        height: 15px;

    }

    li{
        padding-top:5px;
    }
    
    h1{
        color:black;
    }

    h2{
        color: black;
        padding:20px 20px 20px 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1rem;
    }


}

.shelf-grey{
    background-color: black;
    
    box-shadow: 0px 7px 6px -4px #212522;
}

.main-frame {
    padding:30px 20px;
    border: 10px solid black;
    box-shadow: 0px 6px 3px -4px #212522;
    background-color:white;
}

.inner-frame{
    padding:10px;
    box-shadow:inset 0 0 5px #212522;
    background-color:white;
}

